* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
}

.img-fundo {
    background-image: url(/assets/img/plano-de-fundo.jpg);
    max-height: 80vh;
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0px 0px 50px 8px rgba(0, 0, 0, 0.8);
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    height: 100vh;
}

img,
h1,
p,
button {
    margin-bottom: 20px;
}

.logo {
    width: 100%;
    width: 280px;
    margin-bottom: 0;
}

header h1 {
    max-width: 500px;
}

header p {
    max-width: 550px;
}

button {
    background-color: rgb(69, 165, 69);
    width: 100%;
    max-width: 290px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 13px;
}

button img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -20px;
    margin-top: -2px;
}

button:hover {
    font-size: 14px;
    transition: 300ms;
    background-color: rgba(69, 165, 69, 0.719);
}

footer {
    height: 20vh;
    background-color: #696969;
    width: 100vw;
}

.grid-footer {
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 100%;
    padding-top: 30px;
    cursor: pointer;
}

.text-footer {
    display: flex;
    padding: -40px;
    margin-left: 23px;
    justify-content: space-around;
    cursor: pointer;
}

footer:hover {
    transform:scale(1.1);
    transition: 650ms;
    background-color: #797878;
}

.flutuants {
    display: flex;
    flex-direction: column;
    margin-top: -370px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15px;
}

.flutuants img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.flutuants img:hover{
    transform:scale(1.2);
    transition: 400ms;
}

@media (max-width:800px){
    .main {
        padding: 50px;
    }
    .flutuants img{
        height: 25px;
        width: 25px;
    }
    .flutuants{
        margin-top: -377px;
    }
    .grid-footer{
        height: 75px;
    }
   
    .text-footer {
        font-size: 7px;
        margin-left: 4px;
        padding-bottom:30px;
    }
    .logo{
        margin-top: -50px;
    }
    h1{
        font-size: 20px;
    }
    .main p{
        font-size: 12px;
    }

    button {
        max-width: 400px;
        height: 36px;
        border-radius: 40px;
        font-size: 13px;
        margin-top: 20px;
    }
    
    button img {
        width: 20px;
        height: 20px;
        position: absolute;
        margin-left: -20px;
        margin-top: -2px;
    }
}